doctype html
html
  include ../../includes/head
  body
    div.preview-bg.main-preview--bg
      img.preview-bg--gradient(src="./images/preview-gradient.png")
      include ../../includes/header/header
      +header
      section.preview-content.main-preview
        div.container.main-preview--container
          h1.preview-title.main-preview--title
            span.preview-label CRAT Tokenomics
            |  is a fantastic chance to capitalize on the growth of e-commerce and Luxury LifeStyle
          img.main-preview--img(src="./images/money_bag.png" alt="Money bag")
          p.preview-description.main-preview--description CRAT is a treasurable asset base decentralized ecosystem where manufacturers of products can easily connect with targeted consumers by discharging the bureaucracy of retailers in the realism of the Direct-2-Consumer economy. A utility reflects Token built on Binance Smart Chain, with maximum emission of 40 million tokens.
          p.main-preview--inside We were delighted that the CratD2C Blockchain Protocol officially launched three products during the last quarter of 2021. In the coming years, more CratD2C products will be available.
        iframe(
          class="preview-video"
          src="https://www.youtube.com/embed/Kg538978WrM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen)
    include ../../includes/roadmap/roadmap
    include ../../includes/footer/footer

    script(src="./js/roadmap.js")