doctype html
html
  include ../../includes/head
  body
    div.preview-bg.commission-bg
      img.preview-bg--gradient(src="./images/preview-gradient.png")
      include ../../includes/header/header
      +header(3)
      section.preview-content.commission
        div.container.commission-container
          h1.preview-title.commission-title CRAT Reflect Commission
          span.commission-prompt (ACTIVE from 1st Day of CRAT Blockchain)
          img.commission-img(src="./images/money_box.png" alt="Money box")
          p.preview-paragraph.commission-description CRAT Token is a utility reflect token in the marketplace; the ecosystem is the CratD2C Blockchain Protocol. Additionally, it's decentralized. The CRAT Blockchain was built with a reflect mechanism with a 5% fee charged every time a transaction happens on the Blockchain; 2.5% goes to CRAT Token HodLers. In comparison, the remaining 2.5% goes to Manufacturers & Consumers trading on the CratD2C E-commerce Platform.
        iframe(
          class="preview-video"
          src="https://www.youtube.com/embed/I-ePXtjZoaA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen)
    include ../../includes/roadmap/roadmap
    include ../../includes/footer/footer

    script(src="./js/roadmap.js")